languages/*
cron/*
databases/*
sessions/*
errors/*
cache/*
uploads/*
private/*
*.py[oc]
static/temp
progress.log
.DS_Store
static/node_modules/
static/dist/
static/npm-debug.log
static/yarn.lock
static/package-lock.json

